* {
  margin: 0;
  padding: 0;
  font-family:'Courier New', Courier, monospace;

}

.navbar {
  background-color: grey;
  display: flex;
  margin: auto;
  width: 500px;
  justify-content: space-between;
  padding: 15px 15px;
}

.navbar h1 {
  background-color: bisque;
  font-size: 20pt;
  margin-left: 10px;
}

.navbar input {
  width: 250px;
  height: 20px;

}

.navbar button {
  padding: 1px 5px;
  background-color: rgb(38, 130, 235);
  box-shadow: 3px 3px 1px black;
  color: white;
  font-size: 7pt;
  text-align: center;
  height: 20px;
}

.main {
  display: flex;
  width: 530px;
  margin: auto;
}

.definition-details {
  border: 2px solid black;
  margin-top: 20px;
  display: flex;
  height: 130px;
  
}

.definition-details p {
  color: black;
  justify-self: center;
  align-self: center;
  font-size: 9pt;
}

.definition-details button {
  font-size: 8pt;
  margin-top: 10px;
  padding: 2px 10px;
  background-color: rgb(244, 222, 79);
  box-shadow: 2px 2px 2px;
}

.details-left {
  margin-right: 10px;
  font-size: 12pt;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.details-left span {
  font-style: italic;
}

.add-definition {
  height: 80px;
  margin: 20px 0px 20px 20px;
  border: 2px solid black;
  font-size: 10pt;
  padding: 10px;

}

.add-definition button {
  padding: 2px 17px;
  font-size: 7pt;
  height: auto;
  width: auto;
  box-shadow: 2px 2px 2px;
  background-color: rgb(39, 210, 133);
}

.add-definition p {
  margin-bottom: 20px;
}

.add-definition span {
  font-weight: 800;
}