.row{
  display:flex;
}
.col, .col-2, .col-3{
  flex:1;
  background-color: teal;
  justify-content: space-between;
  margin: 10px;
  height: 50px;
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
  color: white;
}
.col-2 {
  flex: 2;
}
.col-3 {
  flex: 3;
}

