* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
  background-color: white;
  height: 300px;
  width: 700px;
  border: 2px solid grey;
  display: block;
  margin: auto;
  margin-top: 50px;
}

.blue-banner {
  background-color: rgb(16, 171, 223);
  height: 80px;
  margin-bottom: -60px;
}
.top img {
  height: 100px;
  margin-left: 30px;
  border: 5px rgb(229, 219, 219) solid;
  border-radius: 50%;

}

.information {
  background-color: white;
  padding-left: 30px;
}

.information h1{
  margin-bottom: 10px;
}

.location {
  background-color: white;
  display: flex;
}

.location img {
  height: 20px;
  margin-right: 10px;
}

.location h3 {

}

.details{
background-color: white;
margin-top: 10px;
}

.gear{
  margin-top: 10px;
  background-color: white;
}

.gear img {
  height: 15px;
  margin-right: 2px;
}