@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  padding: 0;
  margin: 0;
}
body {
    background-color: black;    
}
.container {
   
}


.scoreboard {
    display: flex;
    gap: 20px;    
    margin-top: 10px;
    width: fit-content;
    border: 5px ridge grey;
    padding: 2px;
    font-family: 'Press Start 2P', cursive;
    font-size: .4em;

}

.scoreboard h1 {
    color: white;
    text-align: center;
    text-justify: center;
    margin-top: 10px;
    margin-left: 5px;
   
}

#score {
    width: 25px;
    height: 20px;
    padding: 10px;
    text-align: center;
    color: white;
    left: 400px;
    top: 2px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10pt;
    margin-right: 8px;
    margin-left: 10px;
}

#lives {
    
    width: 25px;
    height: 20px;
    padding: 10px;
    text-align: center;
    color: white;
    left: 400px;
    top: 50px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10pt;
}


div.row div{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: -4px;
}

div.empty {

}

.brick {
   background-color: rgb(29, 0, 243);
  
}

div.coin {
    background-image: url(./img/coin.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

div.cherry {
    background-image: url(./img/cherry.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 15px;

}
#ghost {
    background-image: url(./img/ghost.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
}

#pacman {
    background-image: url(./img/pac-man.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    transform:rotate(0deg)
}
